#!/usr/bin/make -f
export DH_VERBOSE=1

VARNISHSRC := $(PWD)/varnish/
NUMJOBS := $(shell grep -c ^processor /proc/cpuinfo)

override_dh_auto_configure: compilevarnish
	./autogen.sh
	$(eval VMODDIR := $(shell PKG_CONFIG_PATH=$(VARNISHSRC) pkg-config --variable=vmoddir varnishapi))
	dh_auto_configure -- VMODDIR=$(VMODDIR) VARNISHSRC="$(VARNISHSRC)"

override_dh_gencontrol:
	if [ -n "$$DEBIAN_OVERRIDE_BINARY_VERSION" ]; then \
		dh_gencontrol -- -v$$DEBIAN_OVERRIDE_BINARY_VERSION; \
	else \
		dh_gencontrol ; \
	fi

.PHONY: compilevarnish
compilevarnish:
	cd $(VARNISHSRC) && ./autogen.sh && ./configure --prefix=/usr && make -j$(NUMJOBS)

%:
	dh $@
